.input-container {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    width: 100%;
    padding-left: 2.5rem; /* Space for the icon */
  }

  &.password input {
    padding-right: 2.5rem; /* Space for the eye icon in password */
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
    left: 0.5rem;
  }

  .icon.eye {
    left: auto;
    right: 0.5rem;
    cursor: pointer;
    pointer-events: auto;
  }
}

.strength-bar {
  width: 100%;
  height: 5px;
  background: #eee;
  border-radius: 2px;
  margin-top: 5px;
}

.strength-fill {
  height: 100%;
  border-radius: 2px;
  transition: width 0.3s, background-color 0.3s;
}
